<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AccuWeather-AutomationSuite">
    <test name="Weather Info Validation">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.weather.tests.WeatherInfoTest"/>
        </classes>
    </test>
</suite>